@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
@import "spread";

$primary-color: #40A8A1;
$secondary-color: #000;

body {
  margin: 0;
  background: $primary-color;
  text-decoration: none;
}

.kotako {
  color: $primary-color;
  font-size: 7em;
  font-weight: 100;
  font-family: Racing Sans One, sans-serif;
  @media screen and (max-width: 480px) {
    font-size: 5em;
  }
}

.spread {
  @include spread($primary-color, $secondary-color);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icon {
  border-radius: 8px;
  background: $primary-color;
  padding: 8px;
  width: 64px;
  height: 64px;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.links {
  list-style: none;
  margin-left: 16px;
  margin-right: 16px;
  padding: 0;
  @media screen and (min-width: 480px) {
    margin-left: 64px;
    margin-right: 64px;
  }
  @each $link in twitter, github, instagram {
    .#{$link} {
      display: inline-block;
      opacity: 0;
      margin: 8px;
      animation: rise-up .5s ease 1s both;
    }
  }
}

@keyframes rise-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
