@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
@import "spread";

$accent-color: #38aaa1;

body {
  margin: 0;
  background: $accent-color;
  text-decoration: none;
}

.kotako {
  color: $accent-color;
  font-size: 7em;
  font-family: Racing Sans One, sans-serif;
  @media screen and (max-width: 480px) {
    font-size: 5em;
  }
}

.spread {
  @include spread();
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background: $accent-color;
  padding: 8px;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.links {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin-left: 16px;
  margin-right: 16px;
  @media screen and (min-width: 480px) {
    margin-left: 64px;
    margin-right: 64px;
  }
  .social-link {
    display: inline-block;
    opacity: 0;
    margin: 8px;
    animation: rise-up .5s ease 1.3s both;
  }
}

@keyframes rise-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
