@import "https://fonts.googleapis.com/css?family=Josefin+Sans";

$primary-color: #444;
$accent-color: #000;

body {
  background: $primary-color;
  color: white;
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
}

.works {
  display: inline-block;
  width: 280px;
  border: none;
  border-radius: 8px;
  padding: 8px;
  background: black;
}

.social-icon {
  border-radius: 8px;
  background: $accent-color;
  padding: 8px;
  margin: 8px;
  width: 64px;
  height: 64px;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.me {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 88px;
  width: 64px;
  height: 64px;
  padding: 8px;
  background: $accent-color;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
  vertical-align: middle;
  font-family: 'Josefin Sans';
}

.twitter {
  position: relative;
  right: -100px;
  display: inline-block;
  animation: slide1 0.6s ease 0.4s forwards;
}

.github {
  display: inline-block;
  animation: slide2 0.6s ease 0.45s forwards;
}

.instagram {
  position: relative;
  left: -100px;
  display: inline-block;
  animation: slide3 0.6s ease 0.5s forwards;
}

@keyframes slide1 {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  100% {
    transform: translateY(140px) translateX(-104px);
  }
}

@keyframes slide2 {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  100% {
    transform: translateY(140px) translateX(0px);
  }
}

@keyframes slide3 {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  100% {
    transform: translateY(140px) translateX(104px);
  }
}
