@import url("https://fonts.googleapis.com/css?family=Racing+Sans+One");
@-webkit-keyframes spread-horizontal {
  0% {
    -webkit-transform: scale(0, 0.003);
            transform: scale(0, 0.003); }
  100% {
    -webkit-transform: scale(1, 0.003);
            transform: scale(1, 0.003); } }
@keyframes spread-horizontal {
  0% {
    -webkit-transform: scale(0, 0.003);
            transform: scale(0, 0.003); }
  100% {
    -webkit-transform: scale(1, 0.003);
            transform: scale(1, 0.003); } }

@-webkit-keyframes spread-vertical {
  0% {
    -webkit-transform: scaleY(0.003);
            transform: scaleY(0.003); }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes spread-vertical {
  0% {
    -webkit-transform: scaleY(0.003);
            transform: scaleY(0.003); }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

body {
  margin: 0;
  background: #40A8A1;
  text-decoration: none; }

.kotako {
  color: #40A8A1;
  font-size: 7em;
  font-weight: 100;
  font-family: Racing Sans One, sans-serif; }
  @media screen and (max-width: 480px) {
    .kotako {
      font-size: 5em; } }

.spread {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-animation: spread-horizontal 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s both, spread-vertical 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
          animation: spread-horizontal 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s both, spread-vertical 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.social-icon {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background: #40A8A1;
  padding: 8px;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease; }
  .social-icon:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.links {
  list-style: none;
  padding: 0px;
  margin-left: 16px;
  margin-right: 16px; }
  @media screen and (min-width: 480px) {
    .links {
      margin-left: 64px;
      margin-right: 64px; } }
  .links .twitter {
    display: inline-block;
    opacity: 0;
    margin: 8px;
    -webkit-animation: rise-up .5s ease 1s both;
            animation: rise-up .5s ease 1s both; }
  .links .github {
    display: inline-block;
    opacity: 0;
    margin: 8px;
    -webkit-animation: rise-up .5s ease 1s both;
            animation: rise-up .5s ease 1s both; }
  .links .instagram {
    display: inline-block;
    opacity: 0;
    margin: 8px;
    -webkit-animation: rise-up .5s ease 1s both;
            animation: rise-up .5s ease 1s both; }

@-webkit-keyframes rise-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes rise-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
